@charset "UTF-8";

.rodape {
    background-color: var(--branco);
    border-top: 1px solid var(--cinza);
    padding: 1em;
    color: var(--azul);
}

.rodape__titulo {
    font-weight: 500;
}

.sessao__artigo {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape__titulo {
        font-size: 24px;
        padding: 1em;
    }

    .rodape__sessoes {
        display: flex;
        justify-content: space-between;
    }

    .sessao__artigo {
        margin: 1em;
        display: block;
    }

    .sessao__artigo--titulo {
        color: var(--cinza);
        font-size: 14px;
        text-transform: uppercase;
    }

    .sessao__item {
        margin: 2em 0;
        display: flex;
        align-items: center;
    }

    .sessao__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 1em;
    }

}

@media screen and (min-width: 1728px){

    .sessao__artigo {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

}