@charset "UTF-8";

.rodape {
    background-color: var(--branco);
    border-top: 1px solid black;
    padding: 1em;
    color: var(--azul);
}

.rodape__titulo {
    font-weight: 500;
}

@media screen and (min-width: 1024px) {

    

}